# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
replay_pid*
/.classpath
/.project
/.settings/org.eclipse.jdt.apt.core.prefs
/.settings/org.eclipse.jdt.core.prefs
/.settings/org.eclipse.m2e.core.prefs
/.settings/org.springframework.ide.eclipse.prefs
/docker-services/.classpath
/docker-services/.factorypath
/docker-services/.project
/docker-services/.settings/org.eclipse.jdt.apt.core.prefs
/docker-services/.settings/org.eclipse.jdt.core.prefs
/docker-services/.settings/org.eclipse.m2e.core.prefs
/docker-services/.settings/org.springframework.ide.eclipse.prefs
/docker-services/target/classes/META-INF/MANIFEST.MF
/docker-services/target/classes/META-INF/maven/com.general.utils/docker-services/pom.properties
/docker-services/target/classes/META-INF/maven/com.general.utils/docker-services/pom.xml
/docker-services/target/maven-archiver/pom.properties
/docker-services/target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst
/docker-services/target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
/docker-services/target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/createdFiles.lst
/docker-services/target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/inputFiles.lst
/docker-utils/.classpath
/docker-utils/.factorypath
/docker-utils/.project
/docker-utils/.settings/org.eclipse.jdt.apt.core.prefs
/docker-utils/.settings/org.eclipse.jdt.core.prefs
/docker-utils/.settings/org.eclipse.m2e.core.prefs
/docker-utils/.settings/org.springframework.ide.eclipse.prefs
/docker-utils/target/classes/META-INF/MANIFEST.MF
/docker-utils/target/classes/META-INF/maven/com.general.utils/docker-services/pom.properties
/docker-utils/target/classes/META-INF/maven/com.general.utils/docker-services/pom.xml
/docker-utils/target/classes/META-INF/maven/com.general.utils/docker-utils/pom.properties
/docker-utils/target/classes/META-INF/maven/com.general.utils/docker-utils/pom.xml
/docker-utils/target/maven-archiver/pom.properties
/docker-utils/target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst
/docker-utils/target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
/docker-utils/target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/inputFiles.lst
/docker-utils/target/mvn-artifact/com/general/utils/docker-utils/0.0.2/docker-utils-0.0.2.jar.md5
/docker-utils/target/mvn-artifact/com/general/utils/docker-utils/0.0.2/docker-utils-0.0.2.jar.sha1
/docker-utils/target/mvn-artifact/com/general/utils/docker-utils/0.0.2/docker-utils-0.0.2.pom
/docker-utils/target/mvn-artifact/com/general/utils/docker-utils/0.0.2/docker-utils-0.0.2.pom.md5
/docker-utils/target/mvn-artifact/com/general/utils/docker-utils/0.0.2/docker-utils-0.0.2.pom.sha1
/docker-utils/target/mvn-artifact/com/general/utils/docker-utils/maven-metadata.xml
/docker-utils/target/mvn-artifact/com/general/utils/docker-utils/maven-metadata.xml.md5
/docker-utils/target/mvn-artifact/com/general/utils/docker-utils/maven-metadata.xml.sha1
/object-utils/.classpath
/object-utils/.factorypath
/object-utils/.project
/object-utils/.settings/org.eclipse.jdt.apt.core.prefs
/object-utils/.settings/org.eclipse.jdt.core.prefs
/object-utils/.settings/org.eclipse.m2e.core.prefs
/object-utils/.settings/org.springframework.ide.eclipse.prefs
/object-utils/target/classes/META-INF/MANIFEST.MF
/object-utils/target/classes/META-INF/maven/com.general/object-utils/pom.properties
/object-utils/target/classes/META-INF/maven/com.general/object-utils/pom.xml
/target/mvn-artifact/com/general/utils/0.0.1-SNAPSHOT/maven-metadata.xml
/target/mvn-artifact/com/general/utils/0.0.1-SNAPSHOT/maven-metadata.xml.md5
/target/mvn-artifact/com/general/utils/0.0.1-SNAPSHOT/maven-metadata.xml.sha1
/target/mvn-artifact/com/general/utils/0.0.1-SNAPSHOT/utils-0.0.1-20231114.215735-1.pom
/target/mvn-artifact/com/general/utils/0.0.1-SNAPSHOT/utils-0.0.1-20231114.215735-1.pom.md5
/target/mvn-artifact/com/general/utils/0.0.1-SNAPSHOT/utils-0.0.1-20231114.215735-1.pom.sha1
/target/mvn-artifact/com/general/utils/docker-services/0.0.1-SNAPSHOT/docker-services-0.0.1-20231114.215735-1.jar.md5
/target/mvn-artifact/com/general/utils/docker-services/0.0.1-SNAPSHOT/docker-services-0.0.1-20231114.215735-1.jar.sha1
/target/mvn-artifact/com/general/utils/docker-services/0.0.1-SNAPSHOT/docker-services-0.0.1-20231114.215735-1.pom
/target/mvn-artifact/com/general/utils/docker-services/0.0.1-SNAPSHOT/docker-services-0.0.1-20231114.215735-1.pom.md5
/target/mvn-artifact/com/general/utils/docker-services/0.0.1-SNAPSHOT/docker-services-0.0.1-20231114.215735-1.pom.sha1
/target/mvn-artifact/com/general/utils/docker-services/0.0.1-SNAPSHOT/maven-metadata.xml
/target/mvn-artifact/com/general/utils/docker-services/0.0.1-SNAPSHOT/maven-metadata.xml.md5
/target/mvn-artifact/com/general/utils/docker-services/0.0.1-SNAPSHOT/maven-metadata.xml.sha1
/target/mvn-artifact/com/general/utils/docker-services/maven-metadata.xml
/target/mvn-artifact/com/general/utils/docker-services/maven-metadata.xml.md5
/target/mvn-artifact/com/general/utils/docker-services/maven-metadata.xml.sha1
/target/mvn-artifact/com/general/utils/maven-metadata.xml
/target/mvn-artifact/com/general/utils/maven-metadata.xml.md5
/target/mvn-artifact/com/general/utils/maven-metadata.xml.sha1
/docker-utils/target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/createdFiles.lst
/object-utils/target/jacoco.exec
/object-utils/target/maven-archiver/pom.properties
/object-utils/target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst
/object-utils/target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
/object-utils/target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/createdFiles.lst
/object-utils/target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/inputFiles.lst
/object-utils/target/site/jacoco/com.general.utils.object.mappers/ObjectToMapMapper.html
/object-utils/target/site/jacoco/com.general.utils.object.mappers/ObjectToMapMapper.java.html
/object-utils/target/site/jacoco/com.general.utils.object.mappers/index.html
/object-utils/target/site/jacoco/com.general.utils.object.mappers/index.source.html
/object-utils/target/site/jacoco/index.html
/object-utils/target/site/jacoco/jacoco-resources/branchfc.gif
/object-utils/target/site/jacoco/jacoco-resources/branchnc.gif
/object-utils/target/site/jacoco/jacoco-resources/branchpc.gif
/object-utils/target/site/jacoco/jacoco-resources/bundle.gif
/object-utils/target/site/jacoco/jacoco-resources/class.gif
/object-utils/target/site/jacoco/jacoco-resources/down.gif
/object-utils/target/site/jacoco/jacoco-resources/greenbar.gif
/object-utils/target/site/jacoco/jacoco-resources/group.gif
/object-utils/target/site/jacoco/jacoco-resources/method.gif
/object-utils/target/site/jacoco/jacoco-resources/package.gif
/object-utils/target/site/jacoco/jacoco-resources/prettify.css
/object-utils/target/site/jacoco/jacoco-resources/prettify.js
/object-utils/target/site/jacoco/jacoco-resources/redbar.gif
/object-utils/target/site/jacoco/jacoco-resources/report.css
/object-utils/target/site/jacoco/jacoco-resources/report.gif
/object-utils/target/site/jacoco/jacoco-resources/session.gif
/object-utils/target/site/jacoco/jacoco-resources/sort.gif
/object-utils/target/site/jacoco/jacoco-resources/sort.js
/object-utils/target/site/jacoco/jacoco-resources/source.gif
/object-utils/target/site/jacoco/jacoco-resources/up.gif
/object-utils/target/site/jacoco/jacoco-sessions.html
/object-utils/target/site/jacoco/jacoco.csv
/object-utils/target/site/jacoco/jacoco.xml
/object-utils/target/surefire-reports/2023-11-17T10-29-25_625-jvmRun1.dump
/object-utils/target/surefire-reports/TEST-com.general.utils.object.mappers.ObjectToMapMapperTest.xml
/object-utils/target/surefire-reports/com.general.utils.object.mappers.ObjectToMapMapperTest.txt
/json-utils/.classpath
/json-utils/.factorypath
/json-utils/.project
/json-utils/.settings/org.eclipse.core.resources.prefs
/json-utils/.settings/org.eclipse.jdt.apt.core.prefs
/json-utils/.settings/org.eclipse.jdt.core.prefs
/json-utils/.settings/org.eclipse.m2e.core.prefs
/json-utils/.settings/org.springframework.ide.eclipse.prefs
/docker-utils/.settings/org.eclipse.core.resources.prefs
/object-utils/.settings/org.eclipse.core.resources.prefs
/json-utils/.checkstyle
/json-utils/.settings/org.eclipse.jdt.ui.prefs
/json-utils/target/classes/META-INF/MANIFEST.MF
/json-utils/target/classes/META-INF/maven/com.general.utils/json-utils/pom.properties
/json-utils/target/classes/META-INF/maven/com.general.utils/json-utils/pom.xml
/json-utils/target/maven-archiver/pom.properties
/json-utils/target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst
/json-utils/target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
/json-utils/target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/createdFiles.lst
/json-utils/target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/inputFiles.lst
/json-utils/target/surefire-reports/TEST-com.general.utils.json.mappers.MapToJsonMapperTest.xml
/json-utils/target/surefire-reports/com.general.utils.json.mappers.MapToJsonMapperTest.txt
